<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
<div layout:fragment="content" class="body-section">
  <div class="center-content-page">
    <form class="form-add-product" method="post" th:if="${session.currentUserId != null}">
      <span class="title">Change Password</span>
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input type="hidden" name="id" th:value="${session.currentUserId}">
        <input type="text" class="form-control" id="password" name="password" required/>
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
  </div>
</div>
</body>
</html>